{% extends 'base.html' %}

{% block title %}Analytics {% endblock %}

{% block content %}
  <h1>Analytics for {{ username }}</h1>
  <form method="get">
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date" value="{{ request.GET.start_date }}">
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" value="{{ request.GET.end_date }}">
    <label for="sort_by">Sort By:</label>
    <select name="sort_by" id="sort_by">
      <option value="">Select</option>
      <option value="clicks" {% if request.GET.sort_by == 'clicks' %}selected{% endif %}>Clicks</option>
    </select>
    <button type="submit">Filter</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>URL</th>
        <th>Clicks</th>
        <th>Date</th>
      </tr>
    </thead>
  
    <tbody>
      {% for short_url, click_count in url_clicks.items %}
        <tr>
          <td><a href="{% url 'redirect_view' short_code=short_url.short_code %}">http://127.0.0.1:8000/{{ short_url.short_code }}</a></td>
          <td>{{ click_count }}</td>
            <td>{{ short_url.date_created }}</td>
            <td><a href="{% url 'url_details_view' short_code=short_url.short_code %}">View Details</a></td>
            
        </tr>
      {% endfor %}
    </tbody> 
{%endblock%}