
{% block content %}
  <h1>Customize your Short URL</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Custom Short URL</button>
  </form>


  {% if short_url and qr_code %}
    <h2>Your Customized Short URL</h2>
    <p>Short URL: <a href="http://127.0.0.1:8000/{{ short_url.short_code }}">http://127.0.0.1:8000/{{ short_url.short_code }}</a></p>
    <h2>QR Code</h2>
    <img src="data:image/jpeg;base64,{{ qr_code }}" alt="QR Code">
  {% endif %}
  <br>
  <a href="{% url 'userdashboard' %}">Back to Dashboard</a>
{% endblock %}
