{% extends 'base.html' %}

{% block title %}Homepage {% endblock %}
{% load static %}
{% block content %}
<h1>Shorten Your URL</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name="url" placeholder="Enter URL here" required>
    <button type="submit">Shorten</button>
</form>
<br>
{% if short_code %}
<div>
    <p>Your shortened URL is:</p>
    <div id="short-code">
        <a href="http://127.0.0.1:8000/{{ short_code }}">http://127.0.0.1:8000/{{ short_code }}</a>
    </div>
    <div class="button-group">
        <button onclick="copyToClipboard('http://127.0.0.1:8000/{{ short_code }}')">Copy URL</button>
    </div>
    <div class="share-buttons">
        <button onclick="shareToWhatsApp('http://127.0.0.1:8000/{{ short_code }}')">Share to WhatsApp</button>
        <button onclick="shareToFacebook('http://127.0.0.1:8000/{{ short_code }}')">Share to Facebook</button>
        <button onclick="shareToTwitter('http://127.0.0.1:8000/{{ short_code }}')">Share to Twitter</button>
    </div>
    <p>Click <a href="http://127.0.0.1:8000/{{ short_code }}">here</a> to visit the original URL.</p>
</div>
{% endif %}
<br>
{% if qr_code %}
<div id="qr-code">
    <img src="data:image/jpeg;base64,{{ qr_code|safe }}" alt="QR Code">
    <div class="button-group">
        <button onclick="copyImageToClipboard('data:image/jpeg;base64,{{ qr_code|safe }}')">Copy QR Code</button>
        <a href="data:image/jpeg;base64,{{ qr_code|safe }}" download="qr_code.jpg">
            <button>Download QR Code</button>
        </a>
    </div>
    <div class="share-buttons">
        <button onclick="shareQrCodeToWhatsApp('data:image/jpeg;base64,{{ qr_code|safe }}')">Share QR Code to WhatsApp</button>
        <button onclick="shareQrCodeToFacebook('data:image/jpeg;base64,{{ qr_code|safe }}')">Share QR Code to Facebook</button>
        <button onclick="shareQrCodeToTwitter('data:image/jpeg;base64,{{ qr_code|safe }}')">Share QR Code to Twitter</button>
    </div>
</div>
{% endif %}

<br>
<script src="{% static 'scripts.js' %}" defer></script>
{% endblock content %}
