{% extends "base.html" %}
{% block title %}My Campaigns{% endblock %}

{% block content %}
<div class="p-10 sm:ml-64">
    <h1 class="text-3xl m-4">My Campaigns</h1>
    <div class="mb-4 max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <ul>
        {% for campaign in user_campaigns %}
            <li>
                <p>{{ campaign.description }}</p>
                {% comment %} <img class="rounded-t-lg  rounded-lg w-full" src="{{ campaign.image.url }}" alt="Campaign Image"> {% endcomment %}
                
                <a href="{% url 'campaign_detail' campaign.id %}">view_detail</a>
            </li>
        {% endfor %}
    </ul>


</div>
{% endblock %}
