
{% extends 'base.html' %}
{% block title %}Details {% endblock %}
{% load static %}
{% block content %}
  <h1>Details for URL: <a href="http://127.0.0.1:8000/{{ short_url.short_code }}">http://127.0.0.1:8000/{{ short_url.short_code }}</a></h1>
  <p>Original URL: <a href="{{ short_url.original_url }}">{{ short_url.original_url }}</a></p>
  <p>Short Code: {{ short_url.short_code }}</p>
  {% comment %} <p>Clicks: {{ 0 }}</p> {% endcomment %}
  <p>QR Code</p>
  <img src="data:image/png;base64,{{ qr_coded}}" alt="QR Code">
  <a href="data:image/jpeg;base64,{{ qr_coded|safe }}" download="qr_code.jpg">
      <button>Download QR Code</button>
  </a>
  <p>Date Created: {{ short_url.date_created }}</p>

  <h2>Click Details</h2>
  <table>
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>IP Address</th>
        <th>Referer</th>
        <th>Browser</th>
        <th>Device</th>
      </tr>
    </thead>
    <tbody>
      {% for click in clicks %}
        <tr>
          <td>{{ click.timestamp }}</td>
          <td>{{ click.ip_address }}</td>
          <td>{{ click.referer }}</td>
          <td>{{ click.browser }}</td>
          <td>{{ click.device }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{% url 'delete_short_url' short_url.short_code %}" method="post">
  {% csrf_token %}
  <button type="submit" onclick="return confirm('Are you sure you want to delete this URL?')">Delete</button>
  </form>

  <div class="share-buttons">
    <button onclick="copyToClipboard('http://127.0.0.1:8000/{{ short_code }}')">Copy URL</button>
    <button onclick="shareToWhatsApp('http://127.0.0.1:8000/{{ short_code }}')">Share to WhatsApp</button>
    <button onclick="shareToFacebook('http://127.0.0.1:8000/{{ short_code }}')">Share to Facebook</button>
    <button onclick="shareToTwitter('http://127.0.0.1:8000/{{ short_code }}')">Share to Twitter</button>
    <a href="{% url 'campaign_create' %}?short_url=http://127.0.0.1:8000/{{ short_url.short_code }}">
      <button>Add to Campaign</button>
    </a>
</div> 

<script src="{% static 'scripts.js' %}" defer></script>

{% endblock %}
