
{% comment %} {% extends "home.html" %} {% endcomment %}

{% block content %}
  <h1>Details for URL: http://127.0.0.1:8000/{{ short_url.short_code }}</h1>
  <p>Original URL: <a href="{{ short_url.original_url }}">{{ short_url.original_url }}</a></p>
  <p>Short Code: {{ short_url.short_code }}</p>
  {% comment %} <p>Clicks: {{ 0 }}</p> {% endcomment %}
  <p>QR Code</p>
  <img src="data:image/png;base64,{{ qr_coded}}" alt="QR Code">

  <p>Date Created: {{ short_url.date_created }}</p>

  <h2>Click Details</h2>
  <table>
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>IP Address</th>
        <th>Referer</th>
        <th>Browser</th>
        <th>Device</th>
      </tr>
    </thead>
    <tbody>
      {% for click in clicks %}
        <tr>
          <td>{{ click.timestamp }}</td>
          <td>{{ click.ip_address }}</td>
          <td>{{ click.referer }}</td>
          <td>{{ click.browser }}</td>
          <td>{{ click.device }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
