{% block content %}
<h1>User Dashboard</h1>
<p>Welcome, {{ request.user.username }}!</p>
<h2>Your Short URLs</h2>
{% if user_short_urls %}
  <table>
    <thead>
      <tr>
        <th>Original URL</th>
        <th>Short Code</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      {% for short_url in user_short_urls %}
        <tr>
          <td><a href="{{ short_url.original_url }}">{{ short_url.original_url }}</a></td>
          <td><a href="http://127.0.0.1:8000/{{ short_url.short_code }}">http://127.0.0.1:8000/{{ short_url.short_code }}</a></td>          <td>{{ short_url.date_created }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>You have not created any short URLs yet.</p>
{% endif %}
<h1>Shorten Your URL</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name="url" placeholder="Enter URL here" required>
    <button type="submit">Shorten</button>
</form>
<br>
{% if short_code %}
<p>Your shortened URL is:</p>
  <div id="short-code"><a href="{{ short_code }}">{{ short_code }}</a></div>
<p>Click <a href="{{ short_code }}">here</a> to visit the original URL.</p>
{% endif %}
<br>
  {% if qr_code %}
  <img src="data:image/jpeg;base64,{{ qr_code|safe }}" alt="QR Code">
  {% endif %}
    <br>
    <br>
    <p>Check out your analytics for the URLs <a href="{% url 'analytics_view' %}">Analytics</a></p>

  <h2>Customize Your Short URL</h2>
  <p>Want to create a custom short URL? <a href="{% url 'customize_short_url' %}">Click here to customize your short URL</a></p>
  <p>Want to only have a QR CODE for a link <a href="{% url 'generate_qr_code' %}">Generate QR Code</a></p>
  <br>
  <br>
  <a href="{% url 'campaign_create' %}">Create a New Campaign</a>
  <br>
  <br>
  <a href="{% url 'my_campaigns' %}">My Campaigns</a>


{% endblock %}