{% extends 'base.html' %}
{% block title %}dashboard {% endblock %}
{% load static %}
{% block content %}


<div class="p-10 sm:ml-64">

<h1>Shorten Your URL</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name="url" placeholder="Enter URL here" required>
    <button type="submit">Shorten</button>
</form>
<br>

{% if short_code %}
<p>Your shortened URL is:</p>
  <div id="short-code"><a href="{{ short_code }}">{{ short_code }}</a></div>
<p>Click <a href="{{ short_code }}">here</a> to visit the original URL.</p>


<div class="share-buttons">
  <button onclick="copyToClipboard('http://127.0.0.1:8000/{{ short_code }}')">Copy URL</button>
  <button onclick="shareToWhatsApp('http://127.0.0.1:8000/{{ short_code }}')">Share to WhatsApp</button>
  <button onclick="shareToFacebook('http://127.0.0.1:8000/{{ short_code }}')">Share to Facebook</button>
  <button onclick="shareToTwitter('http://127.0.0.1:8000/{{ short_code }}')">Share to Twitter</button>
  <a href="{% url 'campaign_create' %}?short_url=http://127.0.0.1:8000/{{ short_url.short_code }}">
    <button>Add to Campaign</button>
  </a>
</div> 



{% endif %}
<br>
  {% if qr_code %}
  <img src="data:image/jpeg;base64,{{ qr_code|safe }}" alt="QR Code">
    <a href="data:image/jpeg;base64,{{ qr_code|safe }}" download="qr_code.jpg">
      <button>Download QR Code</button>
    </a>
  {% endif %}

    <br>
    <br>
    <p>Check out your analytics for the URLs <a href="{% url 'analytics_view' %}">Analytics</a></p>

  <h2>Customize Your Short URL</h2>
  <p>Want to create a custom short URL? <a href="{% url 'customize_short_url' %}">Click here to customize your short URL</a></p>
  <p>Want to only have a QR CODE for a link <a href="{% url 'generate_qr_code' %}">Generate QR Code</a></p>
  <br>
  <br>
  <a href="{% url 'campaign_create' %}">Create a New Campaign</a>
  <br>
  <br>
  <a href="{% url 'my_campaigns' %}">My Campaigns</a>

  </div>
<script src="{% static 'scripts.js' %}" defer></script>

{% endblock content %}
