<!-- business_card_confirm_delete.html -->

{% extends "basehome/base.html" %}

{% block content %}

{% load static %}
<link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
<div class="bg-gray-100 p-10 sm:ml-64 mt-12 overflow-y-auto max-h-screen"> 
    <div class="w-full h-screen bg-gray-100">
    <div class="text-center container mx-auto bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold mb-4">Delete Business Card</h1>
        <p>Are you sure you want to delete this business card?</p>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600">Delete</button>
            <a href="{% url 'business_card_list' %}" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600">Cancel</a>
        </form>
    </div>
</div>
</div>  
{% endblock %}
