{% extends "basehome/base.html" %}

{% block content %}

{% load static %}
<div class="p-10 sm:ml-64 mt-20 overflow-y-auto max-h-screen">
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold mb-4">Choose Generation</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div>
                <label class="inline-flex items-center">
                    <input type="radio" name="choice" value="portfolio" checked class="form-radio text-blue-600">
                    <span class="ml-2">Portfolio</span>
                </label>
            </div>
            <div>
                <label class="inline-flex items-center">
                    <input type="radio" name="choice" value="website" class="form-radio text-blue-600">
                    <span class="ml-2">Website</span>
                </label>
            </div>
            <div>
                <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Generate</button>
            </div>
        </form>
    </div>
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %} 
</div>
{% endblock %}