{% extends 'basehome/base.html' %}
{% block title %}signup {% endblock %}

{% block content %}
<div class="p-10 sm:ml-64 mt-20 overflow-y-auto max-h-screen">
  <div>
  {% comment %} <h2 class="text-2xl font-bold mb-6 text-center">Register</h2> {% endcomment %}
  <div  class="overflow-y-auto overflow-x-hidden  top-0 right-0 left-0 z-50 flex justify-center items-center md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="p-4 max-w-md w-full max-h-full">
      <div class=" bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Signup to our platform
          </h3>
        </div>
        <div class="p-4 md:p-5">
  <form method="post" action="{% url 'signup' %}" class="space-y-4">
      {% csrf_token %}
      <div class="mb-4">
          <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
          <input type="text" id="username" name="username" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
      </div>
      <div class="mb-4">
          <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
          <input type="password" id="password1" name="password1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        </div>
      <div class="mb-4">
          <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        </div>
        <button type="submit" class="text-white bg-blue-600 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register new account</button>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
          Already registered? <a href="{% url 'login' %}" class="text-blue-700 hover:underline dark:text-blue-500">login</a>
      </div>
      </form>
</div>
</div>
</div>
</div>

</div>
</div>
{% endblock %}
